[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
flask = "*"
flask-restful = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
python-dotenv = "*"
flask-mysql = "*"
dynaconf = "*"

[requires]
python_version = "3.5"
